@charset "utf-8";
/* CSS Document */

.roundcorner{
	-webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
		size:inherit;
		
	}
.gap0{
	height:10px;
	}	

.gap1{
	height:20px;
	}	
	
.gap4{
	height:50px;
	}	
	
.tablebodyrowcol tr:nth-child(odd) { /*(odd) or (2n 1)*/
	background: #888888;
}

.tablebodyrowcol tr:nth-child(even) { /*(even) or (2n 0)*/
	background: #ffffff;
}

#navigationbar{
color: rgba(20, 194, 8, 1);
	}

#navigationbar li a {
	color: rgba(20, 194, 8, 1);
    background-color: rgba(21, 59, 1, 1);
    font-size: 30px;
    text-align: center;
	}

#navigationbar li a:hover{
	 color: rgba(180, 240, 0, 1);
    background-color: rgba(10, 97, 4, 1);
	}	
	
